@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    background: #eeeeee;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color:#1f2937 ;
    color: #eeeeee;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: #eeeeee;
}

