@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General body setting */

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    background: #eeeeee;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header setting */

header {
    background-color:#1f2937;
    color: #eeeeee;
    display: flex;
    flex-direction: column;
    padding: 8px 150px 40px 150px;
    flex-wrap: wrap;
    gap: 40px;
}

/* nav section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    gap: 10px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: #eeeeee;
}

/* modal section */

.right-side {
    height: 300px;
    width: 700px;
}

.modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
}

.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

button {
    background-color: #3882f6;
    color: #eeeeee;
    padding: 16px 32px;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}

/* introduction */

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    margin:30px 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.container {
    display: flex;
    gap: 30px;
}

div img {
    height: 200px;
    width: 200px;
}

/* content */

.content {
    background-color: #e5e7eb;
    padding: 60px 90px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.signature {
    display: flex;
    justify-content: right;
    font-weight: bold;
}
